extends ../layouts/layout.pug

block content

    include ../partials/navigation.pug

    h3 Aqui va el total de vacantes
    .buscadorVacantes
        form(action="#")
            input(type="text", name="q" placeholder="Busca tu empleo, area o empresa").buscar
            input(type="submit", value="Buscar")
    
    .contenedor-sidenav
        .sidenav
            p Filtros

            .collapsible-item1
                button(type="button" class="collapsible") Ubicacion
                .content
                    .buscador-item
                        input(type="text" placeholder="buscar")
                    p Ciudad 1
                    p Ciudad 2
                    p Ciudad 3
                    p Ciudad 4
                    p Ciudad 5
                    p Ciudad 6

                button(type="button" class="collapsible") Area
                .content
                    .buscador-item
                        input(type="text" placeholder="buscar")
                    p Ciudad 1
                    p Ciudad 2
                    p Ciudad 3
                    p Ciudad 4
                    p Ciudad 5
                    p Ciudad 6
                
                button(type="button" class="collapsible") Tipo de Puesto
                .content
                    .buscador-item
                        input(type="text" placeholder="buscar")
                    p Ciudad 1
                    p Ciudad 2
                    p Ciudad 3
                    p Ciudad 4
                    p Ciudad 5
                    p Ciudad 6

                button(type="button" class="collapsible") Fecha
                .content
                    .buscador-item
                        input(type="text" placeholder="buscar")
                    p Ciudad 1
                    p Ciudad 2
                    p Ciudad 3
                    p Ciudad 4
                    p Ciudad 5
                    p Ciudad 6

                button(type="button" class="collapsible") Lugar
                .content
                    .buscador-item
                        input(type="text" placeholder="buscar")
                    p Ciudad 1
                    p Ciudad 2
                    p Ciudad 3
                    p Ciudad 4
                    p Ciudad 5
                    p Ciudad 6

                button(type="button" class="collapsible") Salario
                .content
                    .buscador-item
                        input(type="text" placeholder="buscar")
                    p Ciudad 1
                    p Ciudad 2
                    p Ciudad 3
                    p Ciudad 4
                    p Ciudad 5
                    p Ciudad 6

                button(type="button" class="collapsible") Puesto
                .content
                    .buscador-item
                        input(type="text" placeholder="buscar")
                    p Ciudad 1
                    p Ciudad 2
                    p Ciudad 3
                    p Ciudad 4
                    p Ciudad 5
                    p Ciudad 6

                button(type="button" class="collapsible") Tecnologia
                .content
                    .buscador-item
                        input(type="text" placeholder="buscar")
                    p Ciudad 1
                    p Ciudad 2
                    p Ciudad 3
                    p Ciudad 4
                    p Ciudad 5
                    p Ciudad 6

        .contenedor-vacantes
            p Aqui todas las vacantes en grid
