/* Styles custom */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    background-color: #f2f4f7;
    margin: 0;
    padding: 0;
    font-size: 16px;
}


/* Style Globals */
/** Botones **/
.btn {
    font-size: 1.3rem;
    padding: 1rem 4rem;
    border-radius: .6rem;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .3s ease-out;
    display: block;
    border: none;
}









/* Test Style */
.test {
    border: 1px solid green;
}








/* Navigation */
.nav{
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.nav .logotipo {
    display: inherit;
    align-items: center;
}

.nav .logotipo a {
    text-decoration: none;
    color: black;

} 

.nav ul{
    display: inherit;
    margin: 1em 0em;
}

.nav ul li{
    list-style: none;
    padding-left: 1.5rem;
}

.nav ul li a{
    text-decoration: none;
    color: black;
}


/* buscador */
.buscador{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid green;
    height: 20em;
}

.buscador form {
    width: 60%;
    justify-content: center;
}

.buscador input[type="text"] {
    background-color: rgba(255, 255, 255, .1);
    width: 88%;
    border: none;
    padding: .5rem 4rem .5rem 2rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

/* .buscador input[type="submit"] {
 
} */


/* seccion categorias */
.container-categorias{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid blue;
}

.categoria{
    display: flex;
    width: 25%;
    height: 15em;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 1.8em;
}


/* ofertas */
.container-ultimas-ofertas{
    border: 1px solid red;
}

.container-barra{
    display: flex;
    justify-content: space-between;
    margin: 0 4.8em;
}

/* .container-ofertas{
    
} */



/* Pagina iniciar sesion */
.default-form {
    max-width: 700px;
    margin: 10rem auto 0 auto;
}

.default-form .campo {
    margin-bottom: 3rem;
    display: flex;
}

.default-form label {
    padding-top: 1rem;
    flex: 0 0 18rem;
    text-transform: uppercase;
}

.default-form input[type="email"],
.default-form input[type="password"] {
    flex: 1;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}

.default-form input[type="submit"] {
    margin-top: 2rem;
}

.default-form input[type="submit"]:hover {
    cursor: pointer;
}

.default-form .acciones {
    display: flex;
    justify-content: space-between;
}

.default-form a {
    color: black;
    text-decoration: none;
}

/* pagina de administracion */

.contenedor-sidenav{
    display: grid;
    grid-template-columns: 20% auto;
}

.sidenav{
    height: 100%;
    border: 1px solid red;
}


/* collapsible */
/* .collapsible-item1{

} */

.collapsible{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}




.contenedor-vacantes{
    border: 1px solid red;

} 


/* footer */
footer{
    background-color: rgb(230, 233, 240);
}

.container-footer{
    display: flex;
    justify-content: space-evenly;
    padding: 3em 1em 1em 1em;
}

.div-contactanos{
    padding: 0em 2em;
    width: 100%;
}

.div-contactanos ul{
    padding-left: 1em;
}

.div-contactanos li{
    list-style: none;
    font-size: 0.875em;
}

.title-section-footer{
    font-size: 1.25em;
    font-weight: bold;
}

.div-contactanos .social-media{
    display: flex;
}

.div-contactanos .social-media li{
    align-items: center;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    height: 45px;
    justify-content: center;
    margin: .2em .5em 0em 0em;
    padding: .7em;
    width: 45px;
}

.div-contactanos .social-media li:hover{
    background-color: #6d6d6d;
    transition: .1s;
}


.div-contactanos .social-media li:hover i{
    color: white;
    transition: .2s;
}

.div-contactanos .social-media i{
    color: #6d6d6d;
    font-size: 1.5em;
}

.div-contactanos .social-media .fa-instagram{
    font-weight: bold;
    margin-right: 0.125em;
}

.footer-copyright{
    padding-bottom: 1em;
}

small{
    text-align: center;
}