
footer
    .container-footer.container
        
        .div-contactanos
            p.title-section-footer Oficinas
            ul.datos-columna
                li Av. Principal N°260
                li CP San Pedro de Pilpa
                li Sunampe
                li Chincha
        
        .div-contactanos
            p.title-section-footer Horario de Atención
            ul.datos-columna
                li Lunes a Viernes 
                li 8:00 am a 6:00 pm
                li Sabados
                li 9:30 am a 1:00 pm
        
        .div-contactanos
            p.title-section-footer Contacto
            ul.datos-columna
                li (056) 123 132
                li 987 654 321
                li info@cartoneria.com
                li ventas@cartoneria.com

        .div-contactanos
            p.title-section-footer Redes Sociales
            ul.datos-columna.social-media
                li
                    <i class="fab fa-facebook-f"></i>
                li
                    <i class="fab fa-instagram"></i>
                li
                    <i class="fab fa-twitter"></i>
                li
                    <i class="fab fa-linkedin-in"></i>
    .container
        .footer-copyright
            small © 2020 Todos los derechos reservados  
script(src="/js/main.js")