nav.nav.test
    .logotipo
        a(href="/")
            img(src="", alt="Logotipo")

    ul
        li 
            a(href="/vacantes") Ver empleos
        if usuario
            li
                a(href="#") Mis Postulaciones
            li
                a(href="/") Cerrar Sesion
            li
                img(src="", alt="tu foto")
        else
            li
                a(href="#") Publicar Empleo
            li
                a(href="/iniciar-sesion") Acceder