extends ../layouts/layout.pug

block content

    include ../partials/navigation.pug
    main.contenedor

        h4 Bienvenido al Sistema
        p Su usuario es: #{usuario.email}
    
    .container
        .container-buscador
            .titulo

            .buscador
                form(action="#")
                    input(type="text", name="q" placeholder="Busca tu empleo, area o empresa").buscar
                    input(type="submit", value="Buscar")
    
    .container
        .container-categorias
            .categoria
                p Categoria 1

            .categoria
                p Categoria 2


            .categoria
                p Categoria 3
    
    .container
        .container-ultimas-ofertas
            .container-barra
                h2 Ofertas Laborales

                h3 Ver todo

            .container-ofertas
                