extends ../layouts/layout.pug

block content
    include ../partials/navigation.pug
    main.contenedor
        form(action="/crear-cuenta" method="POST" class="default-form")
            .campo
                label(for="") Nombre
                input(type="text" name="nombre" placeholder="Tu nombre")
            .campo
                label(for="") E-mail
                input(type="email" name="email" placeholder="Tu email")
            .campo
                label(for="") Password
                input(type="password" name="password")
            .campo
                label(for="") Repite tu Password
                input(type="password" name="confirmarPassword" placeholder="Repite tu contraseña")
            .campo.acciones
                a(href="/iniciar-sesion") Volver a Iniciar Sesión
            
            .campo
                input(type="submit", value="Crear Cuenta" class="btn")