extends ../layouts/layout.pug

block content

    include ../partials/navigation.pug
    main.contenedor
        form(action="/iniciar-sesion" method="POST" class="default-form")
            .campo
                label E-mail
                input(type="email" name="email" placeholder="Tu email")
            .campo
                label Password
                input(type="password", name="password" placeholder="Tu contraseña")
            .campo.acciones
                a(href="/crear-cuenta") Crea una cuenta
                a(href="/reestablecer-password") Olvidé mi contraseña  
            .campo
                input(type="submit", value="Iniciar Sesión" class="btn btn-azul")